/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template etc. 

*/

/* =========== CSS FILES INDEX =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Home V2 CSS ----- */
/* ----- Catalog CSS ----- */
/* ----- Account CSS ----- */
/* ----- Vendor CSS ----- */
/* ----- Pages CSS ----- */
/* =============== CSS FILES INDEX =============== */

/* ===== STYLE INDEX (CURRENT FILE) ===== */
/* 
  1. Property for rent Section
  2. Property for sell section
  3. Single Property V.1
  */
/* ===== STYLE INDEX (CURRENT FILE) ===== */

/* ================= NEXT CSS FILE ================= */
/* ----- Vendor CSS File ----- */
/* ================= NEXT CSS FILE ================= */

/* ================= RUNNING PAGE NAME ================= */
/* ----- Account Personal Info Start ----- */
/* ================= RUNNING PAGE NAME ================= */
/* ===== left Account Navbar START ===== */
.account-nav {
}

.account-nav .nav-link:hover,
.account-nav .nav-link > i:hover {
  color: var(--bs-primary);
}

.account-nav .nav-link {
  transition: all 300ms ease;
}
/* ===== left Account Navbar END ===== */
/* ================= RUNNING PAGE ================= */
/* ----- Account Personal Info End ----- */
/* ================= RUNNING PAGE ================= */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */

/* ===== START ===== */
/* ===== END ===== */
