/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template etc. 

*/

/* =========== CSS Files List =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Home V2 CSS ----- */
/* ----- Catalog CSS ----- */
/* ----- Account CSS ----- */
/* ----- Vendor CSS ----- */
/* ----- Pages CSS ----- */
/* =============== CSS Files List =============== */

/* ===== Style List Table Start ===== */
/* 
  1. Left Control Section
  2. Property for rent Section
  3. Products Section
  */
/* ===== Style List Table End ===== */

/* ================= Next Page ================= */
/* ----- Account CSS ----- */
/* ================= Next Page ================= */

/* ===== Navbar Section START ===== */
.nav-user-pic img {
  width: 38px;
}
/* ===== Navbar Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */

/* ===== Section START ===== */
/* ===== Section END ===== */
