/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template etc. 

*/

/* =========== CSS Files List =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Home V2 CSS ----- */
/* ----- Catalog CSS ----- */
/* ----- Account CSS ----- */
/* ----- Vendor CSS ----- */
/* ----- Pages CSS ----- */
/* =============== CSS Files List =============== */

/* ===== Style List Table Start ===== */
/* 
  1. Left Control Section
  2. Property for rent Section
  3. Products Section
  */
/* ===== Style List Table End ===== */

/* ===== BLOG START ===== */
.blog-img img {
  overflow: hidden;
  cursor: pointer;
}

.blog-category {
  font-weight: 400;
  font-size: 14px;
  color: var(--bs-primary);
}

.blog-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--bs-gray-800);
}

.blog-title:hover {
  font-weight: 700;
  font-size: 20px;
  color: var(--bs-primary);
}

.blog-des {
  font-weight: 400;
  font-size: 16px;
  color: var(--bs-gray-600) !important;
}

.blog-author-info {
  cursor: pointer;
}

.blog-author-info h4 {
  font-weight: 700;
  font-size: 16px;
  color: var(--bs-gray-800);
}

.blog-author-info p {
  font-weight: 400;
  font-size: 14px;
  color: var(--bs-gray-800);
}

/* control pannel */
.blog-control-search .search-icon {
  margin-top: -30px;
}
/* ===== BLOG END ===== */
