/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template etc. 

*/

/* =============== *** =============== */
/* ===== Utilities css ===== */
/* ===== Home Page css ===== */
/* ===== Login Page CSS ===== */
/* =============== *** =============== */

/* ===== style list table ===== */
/* 
  1. Header section
  2. Hero section
  3. Category & Major Category Section
  4. Top Offers Section
  */
/* ===== style list table ===== */

/* ====================== Next Page ====================== */
/* ===== Home Page CSS ===== */
/* ====================== Next Page ====================== */

/* ===== Header Css start ===== */
.custom-header {
  font-weight: 700;
  font-size: 28px;
}

.custom-menu li a {
  font-weight: 600;
  color: var(--bs-gray-800);
}

.custom-btn {
  all: unset;
  /* background-color: var(--bs-primary) !important; */
  background-color: #fd5631 !important;
  border-radius: 8px;
  padding: 8px 20px;
  color: white;
  font-weight: 600;
  border: #fd5631 !important;
}

.sign-in-btn {
  color: #fd5631 !important;
  font-weight: 600 !important;
}

.custom-menu .dropdown-toggle::after {
  all: unset;
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-size: 12px;
}
/* ===== Header Css End ===== */

/* ===== Hero or Banner START===== */
.hero-title {
  font-size: 56px;
  font-weight: 700;
  color: var(--bs-gray-900);
}

.hero-description {
  font-size: 20px;
  color: nav(--bs-gray-700);
  margin-right: -54px;
}

.search-location {
  margin-top: -30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.custom-form-select {
  outline: none !important;
  border: none !important;
  /* gap: 5px; */
}

.custom-field .custom-form-select:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.custom-range {
  all: unset;
}
/* ===== Hero or Banner END===== */

/* ===== Category Section START===== */
.custom-category-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.custom-category-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-category-card h5 {
  font-weight: 700;
  font-size: 16px;
}
/* ===== Category Section END===== */

/* ===== Major Category START===== */
.custom-major-category-card {
  cursor: pointer;
}

.custom-major-category-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-major-category-card h5 {
  font-weight: 700;
  font-size: 24px;
}
/* ===== Major Category END===== */

/* ===== Top Offer START===== */
.custom-top-offer-card {
  cursor: pointer;
}

.custom-top-offer-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.custom-top-offer-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-top-offer-title {
  font-weight: 400;
  font-size: 12px;
}

.custom-top-offer-card h5 {
  font-weight: 700;
  font-size: 16px;
}

.custom-top-offer-card-description {
  font-weight: 400;
  font-size: 14px;
}
/* ===== Top Offer END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */

/* ===== title START===== */
/* ===== title END===== */
